body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color:cornsilk;
}

.gc-form-row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.gc-form-row .col {
  flex: 1 0 0%;
}

@media screen and (max-width: 960px) {
  .gc-form-row .col {
    flex: 0 0 auto;
    width: 100%;
  }
}